.color-selection {
    margin-top: 10px;
  
    .color-options {
      display: flex;
      align-items: center;
      
  
      .color-option {
        width: 24px;
        height: 24px;
        margin-right: 8px;
        border: 1px solid #ccc;
        cursor: pointer;
  
        &.selected {
          border: 2px solid #000;
        }
      }
    }
  }

  .custom-dialog-container {
    transform: translate(-50%, -50%); /* Centrer le dialogue */
    top: 50%; /* Position verticale */
    left: 50%; /* Position horizontale */
    position: absolute; /* Positionnement absolu pour centrer */
  }

  .custom-dialog-container {
    padding: 20px;
  }
  
  