<!-- HTML -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="row w-100 d-flex border">
      <div class="col-md-6">
        <img src="assets/formapp.PNG" alt="logo">
      </div>
      <div class="col-md-6 d-flex justify-content-end">
        <button type="button" class="btn btn-primary rounded-circle  mt-2 mb-2 fw-bold me-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
          B
        </button>
      </div>
    </div>
  </nav>




  



  
  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Nouveautes</h1>
        </div>
        <div class="modal-body">
            <div class="out">
                <img src="" alt="">
                <p>se deconnecter</p>
            </div>
          
        </div>
        
      </div>
    </div>

  </div>