<div class="contenaire">

    <div class="row md-12 container-fluid  border">
        <div class="col-6 ">
            <img   class="applogo"  src="assets/formapp.PNG" alt="LG">

        </div>
        <div class="col-6 ">

            <button class="btn btn-primary identifier"> S'identifier </button>
        </div>
    </div>


    <div class="row md-12">
        <div class="col-md-3">
            <div class="sidebar card">
              <ul>
                <li><a href="#">Application Forms</a></li>
                <li><a href="#">Booking Forms</a></li>
                <li><a href="#" (click)="setActive('Application Forms')" [class.active]="activeLink === 'Application Forms'">Application Forms</a></li>
                <li><a href="#" (click)="setActive('Booking Forms')" [class.active]="activeLink === 'Booking Forms'">Booking Forms</a></li>
                <li><a href="#" (click)="setActive('Consent Forms')" [class.active]="activeLink === 'Consent Forms'">Consent Forms</a></li>
                <li><a href="#" (click)="setActive('Contact Forms')" [class.active]="activeLink === 'Contact Forms'">Contact Forms</a></li>
                <li><a href="#" (click)="setActive('Donation Forms')" [class.active]="activeLink === 'Donation Forms'">Donation Forms</a></li>
                <li><a href="#" (click)="setActive('Evaluation Forms')" [class.active]="activeLink === 'Evaluation Forms'">Evaluation Forms</a></li>
                <li><a href="#" (click)="setActive('Event Registration Forms')" [class.active]="activeLink === 'Event Registration Forms'">Event Registration Forms</a></li>
                <li><a href="#" (click)="setActive('Feedback Forms')" [class.active]="activeLink === 'Feedback Forms'">Feedback Forms</a></li>
                <li><a href="#" (click)="setActive('Job Application Forms')" [class.active]="activeLink === 'Job Application Forms'">Job Application Forms</a></li>
                <li><a href="#" (click)="setActive('File Upload Forms')" [class.active]="activeLink === 'File Upload Forms'">File Upload Forms</a></li>
                <li><a href="#" (click)="setActive('Membership Forms')" [class.active]="activeLink === 'Membership Forms'">Membership Forms</a></li>
                <li><a href="#" (click)="setActive('Order Forms')" [class.active]="activeLink === 'Order Forms'">Order Forms</a></li>
                <li><a href="#" (click)="setActive('Payment Forms')" [class.active]="activeLink === 'Payment Forms'">Payment Forms</a></li>
                <li><a href="#" (click)="setActive('Registration Forms')" [class.active]="activeLink === 'Registration Forms'">Registration Forms</a></li>
                <li><a href="#" (click)="setActive('Report Forms')" [class.active]="activeLink === 'Report Forms'">Report Forms</a></li>
              </ul>
            </div>
          </div>

          <div class="col-md-8 parti2">
            <div class="row md-12">
              <form class="d-flex">
                <input class="form-control mt-3 mb-3 mr-3" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success  mt-3 mb-3 mr3" type="submit">Search</button>
              </form>
            </div>
            <div class="row row-cols-1 row-cols-md-2 g-4">
              <div class="col">
            <div class="card">
              <img src="assets/cards/C1.PNG" class="card-img-top" alt="c1">
              <div class="card-body">
                <h5 class="card-title">Modèle de Formulaire de Demande D'emploi</h5>
              </div>
            </div>
              </div>
              <div class="col">
            <div class="card">
              <img src="assets/cards/C2.PNG" class="card-img-top" alt="c2">
              <div class="card-body">
                <h5 class="card-title">Modèle de Formulaire de Demande de Location</h5>
              </div>
            </div>
              </div>
              <div class="col">
            <div class="card">
              <img src="assets/cards/C3.PNG" class="card-img-top" alt="c3">
              <div class="card-body">
                <h5 class="card-title">Modèle de Formulaire de Demande de Location</h5>
              </div>
            </div>
              </div>
              <div class="col">
            <div class="card">
              <img src="assets/cards/C4.PNG" class="card-img-top" alt="c4">
              <div class="card-body">
                <h5 class="card-title">Modèle de Formulaire de Candidature Bénévole</h5>
              </div>
            </div>
              </div>
            </div>
          </div>


    </div>






</div>