<style>
    body{
        background-color:white;
       
    }


.content{
    margin-top: 10%;
    margin-left: 40%;
}


.nana{
    padding: 10px;

}

.text{
    margin-top: 5%;
    justify-content: center;
    margin-left: 8%;
    width: 90%;
    font-size: small;

}
.p1{
    justify-content: center;
    margin-left: 20%;
}
.image{
    width: 25%;
}
.arrrrr{
    display: flex;
    margin: 20px;
}
</style>



<div class="contenaire">

    <div class="row md-12 container-fluid  border">
        <app-navbar></app-navbar>

    </div>


    <div class="row md-12">
        <div class="col-md-4">
                         <app-sidebar></app-sidebar> 

            
          </div>

          <div class="col-md-8 ">
            <div class="mm">
                <h5 class="mt-2">Corbeille</h5>
    
                <div class="content">
                    <img class="image" src="assets/cards/CORB.PNG" alt="Corbeille">
                </div>
                <div class="text">
                    <h5>VOUS N'AVEZ PAS DE FORMULAIRE DANS LA CORBEILLE.</h5>
                    <p class="p1">Vos formulaires supprimés apparaitront ici</p>
                </div>
            </div>
    

          </div>


    </div>






</div>


<!-- <div>
    <img src="/frontend//public/assets/cards/ARC.PNG" alt="">
</div> -->
